*{

  padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(230, 92, 92),green,yellow);
}

img{
  width: 100px;
}

.game{
  display: flex;
  /* padding: 10px; */
  flex-wrap: wrap;
  /* border: 2px solid blue; */
  width: 700px;
  height: 640px;
  perspective: 1000px;
}

.card{
  width: 24%;
  height: 33.33%;
  position: relative;
  border: 2px solid blueviolet;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active{
  transform: scale(0.97);
  transition: transform .2s;
}
